<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:rhkswhdwkd@naver.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Professors="_blank" href="https://github.com/KGJsGit/IDAlab_demo.io"><i class="icon fa fa-user-tie" aria-hidden="true"></i></a>
        <a aria-label="Members="_blank" href="https://github.com/KGJsGit/IDAlab_demo.io"><i class="icon fa fa-users" aria-hidden="true"></i></a>
        <a aria-laber="Publications" href="https://github.com/KGJsGit/IDAlab_demo.io"><i class="icon fas fa-scroll" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href="https://github.com/KGJsGit/IDAlab_demo.io"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
